* {
    margin: 0;
    white-space: nowrap;
}

.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    width: 100vw;
}

.buttons-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 15%;
}

.buttons-container button {
    width: 20%;
    min-width: 75px;
    height: 40%;
    min-height: 20px;
    margin: 5px;
}