.quiz .column {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 100%;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: auto;
}

.quiz {
    display: flex;
    width: 80%;
    height: 90%;
}

.column .buttons-container {
    width: 100%;
}

.note {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 15%;
    align-items: center;
}

.note h3 {
    width: 50%;
}

.note .small-field {
    height: 60%;
    width: 50%;
    margin: 10px;
}

.note .small-field input {
    height: 100%;
    width: 100%;
}


.big-field {
    height: 20%;
    width: 80%;
    margin: 5px;
}

.big-field textarea {
    height: 100%;
    width: 100%;
}