.logo-container {
    display: flex;
    justify-content: center;
    width: 70%;
    height: 70%;
}

.logo-container img {
    width: 100%;
    height: 100%;
}

.input-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 15%;
}

.input-container input {
    width: 50%;
    min-width: 150px;
    height: 30%;
    min-height: 15px;
    margin: 5px;
    text-align: center;
}
