.settings {
    display: flex;
    width: 80%;
    height: 85%;
}

.column {
    width: 50%;
    height: 100%;
    justify-content: center;
    vertical-align: center;
    text-align: center;
}

#custom-categories {
    display: block;
    height: 85%;
    width: 100%;
    overflow: auto;
    padding:0;
    margin: 0;
    list-style: none;
    counter-reset: li;
}

.column .buttons-container {
    width: 100%;
}

#custom-categories li {
    border-left: 4px solid black;
    padding: 16px 20px 16px 28px;
    margin-bottom: 5px;
    margin-top: 5px;
    font-weight: bolder;
}

#list {
    height: 100%;
    justify-content: space-evenly;
    display: flex;
    flex-direction: column;
}

.auto-cat {
    display: flex;
    justify-content: space-between;
    margin-left: 5px;
}

.auto-cat .unsupported {
    color: darkred;
}

.auto-cat .supported {
    color: green;
}

.auto-cat button {
    min-width: 70px;
    min-height: 25px;
}