.diary-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 90%;
    height: 100%;
}

#user {
    display: flex;
    width: 100%;
    height: 10%;
    justify-content: space-between;
}

#sheet {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    width: 100%;
    height: 75%;
    justify-content: space-between;
}

.region {
    text-align: center;
    overflow: auto;
}

.note {
    display: flex;
    height: 30px;
    margin: 5px;
    overflow: paged-x;
}

.note p {
    margin-left: 2px;
}